/* #root,
#auth-app {
  height: 100%;
} */

#pms-dashboard {
    min-height: 100vh;
}

#pms-dashboard .trigger {
    font-size: 18px;
    line-height: 66px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#pms-dashboard .trigger:hover {
    color: #1890ff;
}

.site-layout {
    margin-left: 200px;
    transition: margin 250ms;
}

.site-layout.site-layout-collapsed {
    margin-left: 80px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-upload-list-item-card-actions-btn {
    opacity: 1;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    /*background-color: white;*/
    font-size: 32px;
    /*font-weight: bold;*/
    /*border: 1px solid #f0f2f5;*/

    /*display: 'flex',*/
    /*padding-left: 24px;*/
    padding-right: 24px;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: none;
}

.ant-layout {
    background: white;
}

.ant-layout-header {
    background: white;
    border-bottom: 1px solid #E5E5E5;
    padding: 0 35px
}

.test .ant-card-meta-title {
    white-space: normal;
    margin-bottom: 0 !important;
}

.ant-card-head-title {
    white-space: normal;
}

.ant-card-actions li {
    margin: 6px 0;
}
