/* #root,
#auth-app {
  height: 100%;
} */

#dashboard {
    min-height: 100vh;
}

#dashboard .trigger {
    font-size: 18px;
    line-height: 66px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}


.site-layout {
    margin-left: 200px;
    transition: margin 250ms;
}

.ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 10px;
}

.site-layout.site-layout-collapsed {
    margin-left: 100px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-menu-item-icon {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    min-width: 24px !important;
}

.ant-upload-list-item-card-actions-btn {
    opacity: 1;
}

.ant-picker-clear {
    background: #1BC5BD;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    font-size: 32px;
    padding-right: 35px;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: none;
}

.ant-select-selection-placeholder {
    color: white;
}

.ant-select.ant-select-single.ant-select-allow-clear.ant-select-show-arrow .ant-select-arrow {
    color: white;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #1BC5BD;
    color: white;
    border-radius: 5px;
    border-color: white;
}

.ant-picker-input input {
    color: white;
}

.ant-picker-input input::placeholder {
    color: white;
}

.ant-select-clear {
    background-color: #1BC5BD;
}

.ant-select-clear {
    background-color: #1BC5BD;
}

.ant-picker {
    background-color: #1BC5BD;
    color: white;
    border-radius: 5px;
    border-color: white;
}

.ant-layout {
    background: white;
}

.ant-layout-header {
    background: white;
    border-bottom: 2px solid #F3F6F9;
    padding: 0 35px
}

.ant-page-header-heading-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ant-collapse {
    background-color: #F1FAFE;
}

.ant-collapse-header {
    background-color: white;
    border-radius: 10px;
}

.ant-collapse > .ant-collapse-item {
    border: none;
    margin-bottom: 5px;
}

.ant-collapse > .ant-collapse-item, .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    border-radius: 10px;
}

.ant-collapse-item > .ant-collapse-content {
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    background-color: transparent;
}

.ant-collapse-content > .ant-collapse-content-box {
    background-color: transparent;
}

.ant-table-tbody tr:nth-child(2n+1) {
    background-color: transparent;
}

.ant-table-container table > thead > tr:first-child th {
    background-color: white;
    border: none;
}

.ant-table-cell:first-child {
    text-align: left;
}

.ant-table-cell {
    text-align: center;
}

.ant-table-container table > thead > tr th {
    text-align: center;
}

.ant-table-container table > thead > tr th:last-child {
    text-align: end;
}

.ant-table-tbody > tr > td {
    border: none
}

.ant-table-tbody tr:nth-child(2n) {
    background-color: white;
}

.ant-table {
    background-color: transparent;
}

h5.ant-typography, .ant-typography h5 {
    margin-bottom: 0;
}

.ant-collapse {
    border: none
}

#report-container-div > div:first-child {
    flex: 1
}
